package {{package}};

{{^x-is-composed-model}}
{{#imports}}
import {{import}};
{{/imports}}
import java.util.Objects;
{{/x-is-composed-model}}
{{#models}}
{{#model}}
{{#isComposedModel}}
{{>interface}}
{{/isComposedModel}}
{{^isComposedModel}}
{{>pojo}}
{{/isComposedModel}}
{{/model}}
{{/models}}

