<?php
/**
 * @noinspection PhpUnused
 * @noinspection DuplicatedCode
 * @noinspection PhpUnnecessaryLocalVariableInspection
 * @noinspection PhpUnnecessaryFullyQualifiedNameInspection
 * @noinspection PhpPureAttributeCanBeAddedInspection
 */
{{#models}}
{{#model}}

namespace {{modelPackage}};
{{#isComposedModel}}

{{>interface}}
{{/isComposedModel}}
{{^isComposedModel}}
{{^isEnum}}
{{^parentSchema}}

use ArrayAccess;
{{/parentSchema}}
use InvalidArgumentException;
use Secuconnect\Client\ObjectSerializer;
{{/isEnum}}

/**
 * {{classname}}
 *
 * @category Class
{{#description}}
 * @description {{description}}
{{/description}}
 * @package  {{invokerPackage}}
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
{{>model_generic}}
{{/isComposedModel}}
{{/model}}{{/models}}
